:root{
    --energyRed: #FF2121;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #263640;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --energyWhite: #FFFFFF;
    --boxShadow: 5px 5px 5px rgb(178, 180, 182);
    --energyDarkGrey: #444444;
    --anotherGrey: #848484;
    --secondary: #212529;
    --myGrey: #a3a2a2;
    --energyWhite: #FFFFFF;
    --boxShadow: 5px 5px 5px rgba(199, 192, 192, 0.3);
}


.provider{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.provider-hero{
    width: 100vw;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--energyGrey);
}

.provider-hero p{
    position: absolute;
    top: 30px;
    right: 100px;
    color: var(--energyRed);
    font-size: 19px;
    z-index: 5;
    background-color: var(--energyWhite);
    padding: 10px;
    border-radius: 4px;
}


.provider-hero .verified{
    position: absolute;
    top: 30px;
    right: 100px;
    color: var(--secondary);
    font-size: 19px;
    z-index: 5;
    background-color: var(--energyWhite);
    padding: 10px;
    border-radius: 4px;
}

.provider-hero .my-badge{
    position: absolute;
    top: 260px;
    right: 560px;
    color: var(--energyWhite);
    font-size: 40px;
    z-index: 6;
    border-radius: 4px;
}


.provider-hero .cover{
    width: 100%;
    height: 100%;
}



.provider-hero .dp{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 20%;
    left: 40%;
    border-radius: 50%;
    z-index: 5;
}

.provider-hero h4{
    position: absolute;
    top: 75%;
    left: 38%;
    color: var(--energyWhite);
    font-size: 40px;
    z-index: 5;
}

.provider-details{
    width: 100vw;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
}

.provider-details h5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    border: solid 1px var(--energyLightGrey);
    width: 60vw;
    height: 70px;
    box-shadow: var(--boxShadow);
}

.provider-details .locate{
    font-size: 25px;
    color: var(--energyGrey);
}

.provider-details p{
    width: 60vw;
    font-size: 17px;
    text-align: left;
    position: relative;
    top: -15px;
}

@media (max-width: 500px){

    .provider{
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -20px;
    }
    
    .provider-hero{
        width: 100vw;
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .provider-hero p{
        position: absolute;
        top: -10px;
        right: 20px;
        color: var(--energyRed);
        font-size: 13px;
        z-index: 5;
        background-color: var(--energyWhite);
        padding: 5px;
        border-radius: 4px;
    }

    .provider-hero .verified{
        position: absolute;
        top: -10px;
        right: 20px;
        color: var(--secondary);
        font-size: 13px;
        z-index: 5;
        background-color: var(--energyWhite);
        padding: 5px;
        border-radius: 4px;
    }

    .provider-hero .my-badge{
        position: absolute;
        top: 80px;
        right: 120px;
        color: var(--energyWhite);
        font-size: 20px;
        z-index: 6;
        border-radius: 4px;
    }
    
    
    .provider-hero .cover{
        width: 100%;
        height: 100%;
    }
    

    .provider-hero .dp{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 20px;
        left: 37%;
        border-radius: 50%;
        z-index: 5;
    }
    
    .provider-hero h4{
        position: absolute;
        top: 75%;
        left: 30vw;
        color: var(--energyWhite);
        font-size: 20px;
        z-index: 5;
    }
    
    .provider-details{
        width: 100vw;
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 50px;
    }
    
    .provider-details h5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        border: solid 1px var(--energyLightGrey);
        width: 90vw;
        height: 70px;
        box-shadow: var(--boxShadow);
        font-weight: 700;
    }
    
    .provider-details .locate{
        font-size: 15px;
        color: var(--energyGrey);
    }
    
    .provider-details p{
        width: 90vw;
        font-size: 15px;
        text-align: left;
        position: relative;
        top: -15px;
        padding-left: 20px;
    }    
}