:root{
    --energyRed: #FF2121;
    --energyPurple: #5E60CE;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #263640;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --energyWhite: #FFFFFF;
    --boxShadow: 5px 5px 5px rgb(178, 180, 182);
    --energyDarkGrey: #444444;
    --anotherGrey: #848484;
    --secondary: #212529;
    --myGrey: #a3a2a2;
    --energyWhite: #FFFFFF;
    --boxShadow: 5px 5px 5px rgba(199, 192, 192, 0.3);
}


.provider{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.provider-hero{
    width: 100vw;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--energyGrey);
}

.provider-hero p{
    position: absolute;
    top: 30px;
    right: 50px;
    color: var(--energyRed);
    font-size: 19px;
    z-index: 5;
    background-color: var(--energyWhite);
    padding: 10px;
    border-radius: 4px;
}

.provider-hero .back{
    position: absolute;
    left: 30px;
    top: 10px;
    font-size: 50px;
    z-index: 5;
    color: var(--energyWhite);
    padding: 10px;
    border-radius: 4px;
}


.provider-hero .verified{
    position: absolute;
    top: 30px;
    right: 50px;
    color: var(--secondary);
    font-size: 19px;
    z-index: 5;
    background-color: var(--energyWhite);
    padding: 10px;
    border-radius: 4px;
}

.provider-hero .namePhoto{
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.provider-hero .namePhoto .dp{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid var(--energyWhite);
}

.provider-hero .namePhoto .my-badge{
    position: absolute;
    right: 63px;
    top: 150px;
    color: var(--energyWhite);
    font-size: 30px;
    border-radius: 4px;
}

.provider-hero .namePhoto .name{
    color: var(--energyWhite);
    font-size: 20px;
    margin-top: 20px;
}


.provider-details{
    width: 100vw;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 50px;
}

.provider-details h5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    border: solid 1px var(--energyLightGrey);
    width: 60vw;
    height: 70px;
    box-shadow: var(--boxShadow);
    color: var(--energyPurple);
}

.provider-details .locate{
    font-size: 25px;
    color: var(--energyRed);
}

.provider-details p{
    width: 60vw;
    font-size: 17px;
    text-align: left;
    position: relative;
    /* top: -15px; */
}

@media (max-width: 500px){

    .provider{
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -20px;
    }
    
    .provider-hero{
        width: 100vw;
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .provider-hero p{
        position: absolute;
        top: 10px;
        right: 20px;
        color: var(--energyRed);
        font-size: 13px;
        z-index: 5;
        background-color: var(--energyWhite);
        padding: 5px;
        border-radius: 4px;
    }

    .provider-hero .back{
        position: absolute;
        top: -4px;
        left: 10px;
        font-size: 50px;
        z-index: 5;
        color: var(--energyWhite);
    }

    .provider-hero .verified{
        position: absolute;
        top: 10px;
        right: 20px;
        color: var(--secondary);
        font-size: 13px;
        z-index: 5;
        background-color: var(--energyWhite);
        padding: 5px;
        border-radius: 4px;
    }

    .provider-hero .namePhoto{
        height: auto;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .provider-hero .namePhoto .dp{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid var(--energyWhite);
    }
    
    .provider-hero .namePhoto .my-badge{
        position: absolute;
        right: 42px;
        top: 60px;
        color: var(--energyWhite);
        font-size: 20px;
        border-radius: 4px;
    }
    
    .provider-hero .namePhoto .name{
        color: var(--energyWhite);
        font-size: 15px;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
    
    .provider-details{
        width: 100vw;
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 50px;
    }
    
    .provider-details h5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;
        border: solid 1px var(--energyLightGrey);
        width: 90vw;
        height: 70px;
        box-shadow: var(--boxShadow);
        font-weight: 700;
    }
    
    .provider-details .locate{
        font-size: 15px;
        color: var(--energyRed);
    }
    
    .provider-details p{
        width: 90vw;
        font-size: 15px;
        text-align: left;
        position: relative;
        /* top: 15px; */
        /* padding-left: 20px; */
    }    
}