:root{
    --energyRed: #FF2121;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #04091A;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --myGrey: #a3a2a2;
    --energyWhite: #FFFFFF;
    --secondary: #212529;
    --boxShadow: 5px 5px 50px 5px rgb(245, 248, 250);
}

 .user{
    height: 50px;
    width: 50px;
    position: absolute;
    right: 100px;
    z-index: -1;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user h6{
    height: 90%;
    width: 90%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
    font-size: 17px;
    background-color: var(--energyWhite);
}

@media (max-width: 500px){
     .user{
        height: 50px;
        width: 50px;
        position: relative;
        right: -60px;
        z-index: 1;
        cursor: pointer;
        background-color: transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user h6{
        height: 70%;
        width: 70%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--secondary);
        background-color: var(--energyWhite);
        font-size: 15px;
    }
}