:root{
    --energyRed: #FF2121;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #263640;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --energyWhite: #FFFFFF;
    --energyMl: #F2F2F2;
    --anotherGrey: #AFAFAF;
    --secondary: #212529;
    --boxShadow: 5px 5px 5px rgb(3, 3, 3);
}

.welcome{
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--secondary);
    border: 1px solid var(--energyLightGrey);
    border-radius: 15px;
    z-index: 20;
    position: fixed;
    top: 30vh;
    width: 30vw;
}


.welcome p{
    color: var(--energyWhite);
    font-size: 15px;
}

.welcome button{
    background-color: var(--energyWhite);
    color: var(--secondary);
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 500px){
    
    .welcome{
        width: 80vw;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: var(--secondary);
        box-shadow: none;
        border: 1px solid var(--energyLightGrey);
        border-radius: 15px;
        z-index: 20;
        position: fixed;
        top: 30vh;
    }
    
    /* .welcome img{
        width: 20%;
        height: 30%;
    } */

    .welcome p{
        color: var(--energyWhite);
        font-size: 17px;
    }
    
    
    .welcome button{
        background-color: var(--energyWhite);
        color: var(--secondary);
        width: 100px;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}