:root{
    --energyRed: #FF2121;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #263640;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --energyWhite: #FFFFFF;
    --energyMl: #F2F2F2;
    --anotherGrey: #AFAFAF;
    --secondary: #212529;
    --boxShadow: 5px 5px 5px rgb(3, 3, 3);
}

.active-proceed{
    overflow-y: hidden;
}

.welcome{
    width: 30%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--secondary);
    border: 1px solid var(--energyLightGrey);
    border-radius: 15px;
    z-index: 20;
    position: fixed;
    top: 30vh;
    left: 35vw;
    width: 30vw;
}

.hide-field{
    display: none;
}


.welcome p{
    color: var(--energyWhite);
    font-size: 15px;
    padding: 0 10px;
    text-align: center;
}

.welcome button{
    background-color: var(--energyWhite);
    color: var(--secondary);
    width: 70px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.admin-welcome{
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--energyWhite);
}

.admin-welcome .photo{
    width: 70%;
    height: 60%;
}

.admin-welcome .hello{
    color: var(--energyBlack);
    font-size: 20px;
    font-weight: 900;
}

.admin-welcome .greet{
    color: var(--energyBlack);
    font-size: 25px;
    margin-top: 20px;
}

.admin-welcome button{
    width: auto;
    height: 30px;
    padding: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    color: var(--energyWhite);
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
}



@media (max-width: 500px){
    
    .welcome{
        width: 80vw;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: var(--secondary);
        box-shadow: none;
        border: 1px solid var(--energyLightGrey);
        border-radius: 15px;
        z-index: 20;
        position: fixed;
        top: 30vh;
        left: 10vw;
    }
    
    /* .welcome img{
        width: 20%;
        height: 30%;
    } */

    .welcome p{
        color: var(--energyWhite);
        font-size: 17px;
    }
    
    
    .welcome button{
        background-color: var(--energyWhite);
        color: var(--secondary);
        width: 70px;
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .admin-welcome{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--energyWhite);
        gap: 10px;
    }
    
    .admin-welcome .photo{
        width: 100%;
        height: 50%;
    }
    
    .admin-welcome .hello{
        color: var(--energyBlack);
        font-size: 15px;
        font-weight: 900;
    }
    
    .admin-welcome .greet{
        color: var(--energyBlack);
        font-size: 15px;
        margin-top: 10px;
    }
    
    .admin-welcome button{
        width: auto;
        height: 30px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary);
        color: var(--energyWhite);
        font-size: 15px;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }
}