:root{
    --energyRed: #FF2121;
    --energyPurple: #5E60CE;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #263640;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --energyWhite: #FFFFFF;
    --energyMl: #F2F2F2;
    --anotherGrey: #AFAFAF;
    --secondary: #212529;
    --boxShadow: 5px 5px 5px rgb(3, 3, 3);
}

.active-proceed{
    overflow-y: hidden;
}

.success{
    width: 30vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--secondary);
    border-radius: 10px;
    border: 1px solid var(--energyLightGrey);
    z-index: 20;
    position: fixed;
    top: 30vh;
}

.hide-field{
    display: none;
}

.success .icon{
    color: var(--energyWhite);
    font-size: 50px;
    
}


.success p{
    color: var(--energyWhite);
    font-size: 15px;
    text-align: center;
    padding: 0 10px;
}

.success .cac-paragraph{
    color: var(--energyWhite);
    font-size: 13px;
    text-align: center;
    padding: 0 10px;
    line-height: 1.5;
}

.success button{
    background-color: var(--energyWhite);
    color: var(--secondary);
    width: 70px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.success a{
    background-color: var(--energyWhite);
    color: var(--secondary);
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.customerJourney{
    background: url(../images/journey_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: fixed;
    top: 20vh;
    left: 25vw;
    width: 50vw;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: var(--boxShadow);
    z-index: 10;
}

.customerJourney .close{
    position: absolute;
    right: 40px;
    top: 30px;
    font-size: 25px;
    cursor: pointer;
}

.customerJourney p{
    font-size: 15px;
    color: var(--energyBlack);
}

.customerJourney .journey{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.customerJourney .journey a{
    width: 220px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    color: var(--energyBlack);
    border-radius: 4px;
}

.customerJourney .journey .top{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.customerJourney .journey .top .engage-p{
    background-color: #D9D9D9;
}

.customerJourney .journey .top .fund-w{
    background-color: #E2A3FF;
}


.customerJourney .journey .bottom{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.customerJourney .journey .bottom .edit-p{
    background-color: #FFD5A3;
}

.customerJourney .journey .bottom .learn-m{
    background-color: #FFA3A3;
}

@media (max-width: 500px){
 
    .success{
        width: 80vw;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        background-color: var(--secondary);
        border-radius: 10px;
        border: 1px solid var(--energyLightGrey);
        z-index: 20;
        position: fixed;
        top: 30vh;
    }
    
    .success .icon{
        color: var(--energyWhite);
        font-size: 50px;
        
    }
    
    /* .success img{
        width: 20%;
        height: 30%;
    } */
    
    .success p{
        color: var(--energyWhite);
        font-size: 15px;
    }

    .success .cac-paragraph{
        color: var(--energyWhite);
        font-size: 13px;
        text-align: center;
        padding: 0 10px;
    }
    
    .success button{
        background-color: var(--energyWhite);
        color: var(--secondary);
        width: 70px;
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 15px;
    }

    .success a{
        background-color: var(--energyWhite);
        color: var(--secondary);
        width: 100px;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }


    .customerJourney{
        background: url(../images/journey_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        position: fixed;
        width: 80vw;        
        top: 30vh;
        left: 40px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        box-shadow: var(--boxShadow);
        z-index: 10;
    }
    
    .customerJourney .close{
        position: absolute;
        right: 40px;
        top: 30px;
        font-size: 25px;
        cursor: pointer;
    }
    
    .customerJourney p{
        font-size: 15px;
        color: var(--energyBlack);
    }
    
    .customerJourney .journey{
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .customerJourney .journey a{
        width: 240px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 13px;
        text-decoration: none;
        color: var(--energyBlack);
        text-align: center;
    }
    
    .customerJourney .journey .top{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    .customerJourney .journey .top .engage-p{
        background-color: #D9D9D9;
    }
    
    .customerJourney .journey .top .fund-w{
        background-color: #E2A3FF;
    }
    
    
    .customerJourney .journey .bottom{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
    }
    
    .customerJourney .journey .bottom .edit-p{
        background-color: #FFD5A3;
    }
    
    .customerJourney .journey .bottom .learn-m{
        background-color: #FFA3A3;
    }
}