:root{
    --energyRed: #FF2121;
    --anotherRed: #ff4949;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #263640;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --energyWhite: #FFFFFF;
    --energyMl: #F2F2F2;
    --anotherGrey: #AFAFAF;
    --secondary: #212529;
    --boxShadow: 5px 5px 5px rgb(3, 3, 3);
}


.my-form{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
    z-index: 10;
    position: absolute;
}

.my-form .form-btns{
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    padding-left: 50px;
}

.my-form .form-btns button{
    width: auto;
    height: 100%;
    border: none;
    background-color: transparent;
    font-size: 17px;
    color: var(--energyWhite);
    cursor: pointer;
}

.my-form .form-btns .under{
    color: var(--energyWhite);
    position: relative;
    width: auto;
}

.my-form .form-btns .under::after{
    content: "";
    width: 35%;
    height: 2px;
    position: absolute;
    top: 35px;
    left: 30%;
    background-color: var(--energyRed);
}

.my-form .form-btns button:hover{
    color: var(--energyRed);
}

.my-form .form-btns span{
    color: var(--energyWhite);
}

.my-form .brand{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    padding: 20px 0;
    margin-top: 20px;
}

.my-form .brand img {
    width: 30%;
    height: 40%;
}

.my-form .brand p{
    font-size: 10px;
    color: var(--energyWhite);
    position: relative;
    top: -10px;
}


.my-form form{
    width: 100%;
    padding: 30px;
    background-color: var(--energyWhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../images/form_bg.png);
    background-position: center;
    gap: 20px;
}

.my-form form .tag{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-form form .tag h5{
    font-size: 17px;
}

.my-form form .tag p{
    font-size: 15px;
}

.my-form form .tag p span{
    color: var(--energyRed);
}

.my-form form section{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.my-form form .dupError{
    width: 100%;
    font-size: 15px;
    color: var(--energyRed);
}

.my-form form section span{
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
}


.my-form form section span label{
    font-size: 15px;
    color: var(--energyBlack);
}

.my-form form section span input{
    height: 40px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    border: 1px solid var(--energyBlack);
    outline: none;
    background-color: var(--energyWhite);
}


.my-form form section span input::placeholder{
    font-size: 15px;
    opacity: .5;
}

.my-form form section span span{
    font-size: 15px;
    color: red;
    width: 100%;
}

.my-form form .my-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.my-form form .my-div label{
    font-size: 15px;
    color: var(--energyBlack);
}

.my-form form .my-div input{
    height: 40px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    border: 1px solid var(--energyBlack);
    outline: none;
    background-color: var(--energyWhite);
}

.my-form form .my-div input::placeholder{
    font-size: 15px;
    opacity: .5;
}

.my-form form .my-div span{
    font-size: 15px;
    color: red;
    width: 100%;   
}

.my-form form .serviceType{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.my-form form .serviceType label{
    font-size: 15px;
    color: var(--energyBlack);
}


/* .my-form form .serviceType datalist{
    height: 300px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    border: dashed red;
    display: flex;
    flex-direction: column;
    background-color: var(--energyWhite);
    gap: 0;
    overflow-y: scroll;
}

.my-form form .serviceType datalist option{
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.my-form form .serviceType datalist option:hover{
    background-color: var(--secondary);
    color: var(--energyWhite);
    padding: 5px;
} */

/* .my-form form .serviceType .serviceSearch{
    height: 40px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: var(--energyWhite);
    display: flex;
    flex-direction: column;
    z-index: 50;
    position: absolute;
    top: 34px;
} */

/* .my-form form .serviceType .serviceSearch::placeholder{
    font-size: 15px;
    opacity: .5;
} */



/*styles for eye toggle (password hide and show)*/

.my-form form div .eyeCover{
    width: 10%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 42px;
    right: 10px;
    cursor: pointer;
}


.my-form form div .eyeCover .eye{
    font-size: 22px;
    color: var(--energyGrey);
    opacity: .7;
}

.my-form form section span .eyeCover{
    width: 15%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    top: 33px;
    right: 5px;
    cursor: pointer;
}

.my-form form section span .eyeCover .eye{
    font-size: 19px;
    color: var(--energyGrey);
    opacity: .7;
}

.my-form form .my-div select{
    height: 50px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    border: 1px solid var(--energyBlack);
    outline: none;
}


.my-form  form button{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    color: var(--energyWhite);
    background-color: var(--energyRed);
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.my-form form button:hover{
    background-color: var(--energyDarkRed);
}




/*Styles perculiar to login form*/

.my-form .form-wrapper{
    width: 65vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.my-form .rotate{
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.my-form .form-wrapper .brand{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    margin-top: 0;
}

.my-form .form-wrapper .brand img {
    width: 40%;
    height: 40px;
}

.my-form .form-wrapper .brand p{
    font-size: 7px;
    color: var(--energyWhite);
}


.my-form .form-wrapper form{
    width: 50%;
    padding: 30px;
    background-color: var(--anotherGrey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.my-form .form-wrapper form .tag{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-form .form-wrapper form .tag h5{
    font-size: 17px;
}

.my-form .form-wrapper form .tag p{
    font-size: 15px;
}

.my-form .form-wrapper form .tag p span{
    color: var(--energyBlack);
    font-weight: 600;
}


.my-form .form-wrapper form .my-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.my-form .form-wrapper form .hide-field{
    display: none;
}

.hide-field{
    display: none;
}

.my-form .form-wrapper form .my-div label{
    font-size: 15px;
    color: var(--energyBlack);
}

.my-form .form-wrapper form .my-div .image-tag{
    font-size: 15px;
    color: var(--energyBlack);
}

.my-form .form-wrapper form .my-div input{
    height: 40px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    /* border: 1px solid var(--energyBlack); */
}


.my-form .form-wrapper form .my-div .imagePath{
    display: flex;
    background-color: transparent;
    font-size: 13px;
    border: none;
}

.my-form .form-wrapper form .my-div .image-label{
    height: 40px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 15px;
    background-color: var(--energyWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid 1px var(--energyBlack);
}


.my-form .form-wrapper form .my-div input::placeholder{
    font-size: 15px;
    opacity: .5;
}

.my-form .form-wrapper form .my-div select{
    height: 40px;
    width: 100%;
    border-radius: 4px;
    padding-left: 10px;
    font-size: 15px;
}



.my-form .form-wrapper  form button{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    color: var(--energyWhite);
    background-color: var(--energyRed);
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.my-form .form-wrapper form button:hover{
    background-color: var(--energyDarkRed);
}


.my-form .form-wrapper form .loginError{
    color: var(--energyRed);
    width: 100%;
    text-align: left;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    top: -25px;
}

.my-form .form-wrapper form .loginError:hover{
    color: var(--energyDarkRed);
}



.my-form .form-wrapper form .forgot{
    color: var(--energyRed);
    width: 100%;
    text-align: right;
    font-size: 15px;
    cursor: pointer;
}

.my-form .form-wrapper form .forgot:hover{
    color: var(--energyDarkRed);
}

.my-form .form-wrapper form .account{
    color: var(--energyBlack);
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.my-form .form-wrapper form .account span{
    color: var(--energyRed);
    cursor: pointer;
}

.my-form .form-wrapper form .account span:hover{
    color: var(--energyDarkRed);
}


/*Modal styles*/

body.active-modal, body.active-modal2, body.active-modal3{
    overflow-y: hidden;
}


.modal{
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    padding-top: 40px;
}

.overlay {
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: var(--energyBlack);
    opacity: .9;
    z-index: 9;
}


.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    z-index: 10;
    align-self: center;
    position: relative;
    top: 50px;
}

.modal-content .close-modal{
    font-size: 30px;
    cursor: pointer;
    color: var(--energyWhite);
    position: absolute;
    top: 20px;
    right: -150px;
    z-index: 10;
}

/*to show the success message*/

/* .success{
    width: 40%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--energyWhite);
    box-shadow: var(--boxShadow);
    border: 1px solid var(--energyLightGrey);
    border-radius: 15px;
    z-index: 20;
    position: fixed;
    top: 30vh;
    width: 30vw;
}

.success img{
    width: 20%;
    height: 30%;
}

.success h3{
    color: green;
}

.success button{
    color: var(--energyWhite);
    background-color: var(--secondary);
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */


/* styles for verification form */
.verification{
    background-color: var(--secondary);
    width: 75vw;
    height: 600px;
}

.verification .verification-form{
    background-color: var(--secondary);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.verification .verification-form .text{
    background-color: var(--secondary);
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verification .verification-form .text h3{
    color: var(--energyWhite);
    font-size: 50px;
}

.verification .verification-form .text p{
    color: var(--energyWhite);
}

.verification .verification-form .text .uploads{
    color: var(--energyWhite);
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.verification .verification-form .text .uploads .doc{
    color: var(--energyWhite);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.verification .verification-form .text .uploads label{
    color: var(--energyWhite);
    font-size: 15px;
    cursor: pointer;
}


.verification .verification-form .file{
    width: 40%;
    gap: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.verification .verification-form .file .image-label{
    background-color: var(--energyWhite);
    height: 50px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 17px;
    cursor: pointer;
}

.verification .verification-form .file input{
    color: var(--energyWhite);
    width: 90%;
    font-size: 14px;
}

.verification .verification-form button{
    background-color: var(--energyRed);
    color: var(--energyWhite);
    height: 45px;
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    border: none;
}


@media (max-width: 500px){
    
    .my-form{
        width: 90vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: transparent;
        z-index: 10;
        position: absolute;
    }
    
    .my-form .form-btns{
        width: auto;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: transparent;
    }
    
    .my-form .form-btns button{
        width: auto;
        height: 100%;
        border: none;
        background-color: transparent;
        font-size: 15px;
        color: var(--energyWhite);
        cursor: pointer;
    }
    
    .my-form .form-btns .under{
        color: var(--energyWhite);
        position: relative;
    }
    
    .my-form .form-btns .under::after{
        content: "";
        width: 35%;
        height: 2px;
        position: absolute;
        top: 35px;
        left: 30%;
        background-color: var(--energyRed);
    }
    
    .my-form .form-btns button:hover{
        color: var(--energyRed);
    }
    
    .my-form .form-btns span{
        color: var(--energyWhite);
    }
    
    .my-form .brand{
        width: 90vw;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary);
        padding: 20px 0;
        margin-top: 20px;
    }
    
    .my-form .brand img {
        width: 30%;
        height: 40%;
    }
    
    .my-form .brand p{
        font-size: 7px;
        color: var(--energyWhite);
    }
    
    
    .my-form form{
        width: 100%;
        padding: 30px;
        background-color: var(--energyWhite);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background: url(../images/form_bg.png);
        background-position: center;
    }
    
    .my-form form .tag{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .my-form form .tag h5{
        font-size: 17px;
    }
    
    .my-form form .tag p{
        font-size: 15px;
    }
    
    .my-form form .tag p span{
        color: var(--energyRed);
    }
    
    .my-form form section{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    
    .my-form form section span{
        width: 47%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
    }
    
    
    .my-form form section span label{
        font-size: 15px;
        color: var(--energyBlack);
    }
    
    .my-form form section span input{
        height: 40px;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        font-size: 15px;
        border:  1px solid var(--energyBlack);
        outline: none;
    }
    
    
    .my-form form section span input::placeholder{
        font-size: 15px;
        opacity: .5;
    }
    
    .my-form form section span span{
        font-size: 15px;
        color: red;
        width: 100%;
    }
    
    .my-form form div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        position: relative;
    }
    
    .my-form form div label{
        font-size: 15px;
        color: var(--energyBlack);
    }
    
    .my-form form div input{
        height: 40px;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        font-size: 15px;
        border: none;
        outline: none;
    }
    
    .my-form form div input::placeholder{
        font-size: 15px;
        opacity: .5;
    }
    
    .my-form form div span{
        font-size: 15px;
        color: red;
        width: 100%;   
    }

    /* .my-form form .serviceType{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
        position: relative;
    } */

    /* .my-form form .serviceType .serviceSearch{
        height: 40px;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        font-size: 15px;
        border: solid 1px var(--energyBlack);
        outline: none;
    } */

    
    
    /*styles for eye toggle (password hide and show)*/
    
    .my-form form div .eyeCover{
        width: 10%; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        top: 42px;
        right: 10px;
        cursor: pointer;
    }
    
    
    .my-form form div .eyeCover .eye{
        font-size: 22px;
        color: var(--energyGrey);
        opacity: .7;
    }
    
    .my-form form section span .eyeCover{
        width: 15%; 
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        top: 33px;
        right: 5px;
        cursor: pointer;
    }
    
    .my-form form section span .eyeCover .eye{
        font-size: 19px;
        color: var(--energyGrey);
        opacity: .7;
    }
    
    .my-form form .my-div select{
        height: 50px;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        font-size: 15px;
        border: solid 1px var(--energyBlack);
        outline: none;
    }
    
    
    .my-form  form button{
        height: 50px;
        width: 100%;
        border-radius: 5px;
        color: var(--energyWhite);
        background-color: var(--anotherRed);
        border: none;
        cursor: pointer;
        font-size: 15px;
    }
    
    .my-form form button:hover{
        background-color: var(--energyDarkRed);
    }
    
    
    /*Styles perculiar to form-wrapper (login form)*/
    
    .my-form .form-wrapper{
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    
    .my-form .rotate{
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    
    .my-form .form-wrapper .brand{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary);
        margin-top: 0;
    }
    
    .my-form .form-wrapper .brand img {
        width: 30%;
        height: 40px;
    }
    
    .my-form .form-wrapper .brand p{
        font-size: 6px;
        color: var(--energyWhite);
        position: relative;
        top: -10px;
    }
    
    
    .my-form .form-wrapper form{
        width: 100%;
        padding: 10px;
        background-color: var(--energyWhite);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
    .my-form .form-wrapper form .tag{
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .my-form .form-wrapper form .tag h5{
        font-size: 17px;
    }
    
    .my-form .form-wrapper form .tag p{
        font-size: 15px;
        position: relative;
        bottom: 15px;
    }
    
    .my-form .form-wrapper form .tag p span{
        color: var(--energyBlack);
        font-weight: 600;
    }
    
    
    .my-form .form-wrapper form div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
    }
    
    .my-form .form-wrapper form .hide-field{
        display: none;
    }
    
    .hide-field{
        display: none;
    }
    
    .my-form .form-wrapper form div label{
        font-size: 15px;
        color: var(--energyBlack);
    }
    
    .my-form .form-wrapper form div input{
        height: 40px;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        font-size: 15px;
        border: 1px solid var(--energyBlack);
        outline: none;
    }
    
    .my-form .form-wrapper form div input::placeholder{
        font-size: 15px;
        opacity: .5;
    }
    
    .my-form .form-wrapper  form button{
        height: 40px;
        width: 100%;
        border-radius: 5px;
        color: var(--energyWhite);
        background-color: var(--anotherRed);
        border: none;
        cursor: pointer;
        font-size: 15px;
    }
    
    .my-form .form-wrapper form button:hover{
        background-color: var(--secondary);
    }

    .my-form .form-wrapper form .loginError{
        color: var(--energyRed);
        width: 100%;
        text-align: left;
        font-size: 15px;
        cursor: pointer;
        position: relative;
        top: -25px;
    }
    
    .my-form .form-wrapper form .loginError:hover{
        color: var(--energyDarkRed);
    }
    
    .my-form .form-wrapper form .forgot{
        color: var(--energyRed);
        width: 100%;
        text-align: right;
        font-size: 15px;
        cursor: pointer;
    }
    
    .my-form .form-wrapper form .forgot:hover{
        color: var(--energyDarkRed);
    }
    
    .my-form .form-wrapper form .account{
        color: var(--energyBlack);
        width: 100%;
        text-align: center;
        font-size: 15px;
    }
    
    .my-form .form-wrapper form .account span{
        color: var(--energyRed);
        cursor: pointer;
    }
    
    .my-form .form-wrapper form .account span:hover{
        color: var(--energyDarkRed);
    }


    /* Specific styles for rotate class */
    
    
    .my-form .rotate{
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    
    .my-form .rotate .brand{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--secondary);
        margin-top: 0;
    }
    
    .my-form .rotate .brand img {
        width: 30%;
        height: 40px;
    }
    
    .my-form .rotate .brand p{
        font-size: 6px;
        color: var(--energyWhite);
        position: relative;
        top: -10px;
    }
    
    .my-form .rotate form{
        width: 100%;
        padding: 10px;
        background-color: var(--energyWhite);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    
    .my-form .rotate form .tag{
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .my-form .rotate form .tag h5{
        font-size: 15px;
        color: var(--energyBlack);
    }
    
    .my-form .rotate form .tag p{
        font-size: 15px;
        position: relative;
        bottom: 15px;
        color: var(--energyBlack);
    }
    
    .my-form .rotate form .tag p span{
        color: var(--energyBlack);
        font-weight: 600;
    }
    
    
    .my-form .rotate form div{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10px;
    }
    
    .my-form .rotate form .hide-field{
        display: none;
    }
    
    .hide-field{
        display: none;
    }
    
    .my-form .rotate form div label{
        font-size: 15px;
        color: var(--energyBlack);
    }
    
    .my-form .rotate form div input{
        height: 40px;
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        font-size: 15px;
        border: 1px solid var(--energyBlack);
        outline: none;
    }
    
    .my-form .rotate form div input::placeholder{
        font-size: 15px;
        opacity: .5;
    }
    
    .my-form .rotate form button{
        height: 50px;
        width: 100%;
        border-radius: 5px;
        color: var(--energyWhite);
        background-color: var(--anotherRed);
        border: none;
        cursor: pointer;
        font-size: 15px;
    }
    
    .my-form .rotate form button:hover{
        background-color: var(--secondary);
    }
    
    .my-form .rotate form .forgot{
        color: var(--energyRed);
        width: 100%;
        text-align: right;
        font-size: 15px;
        cursor: pointer;
    }
    
    .my-form .rotate form .forgot:hover{
        color: var(--energyDarkRed);
    }
    
    .my-form .rotate form .account{
        color: var(--energyBlack);
        width: 100%;
        text-align: center;
        font-size: 15px;
    }
    
    .my-form .rotate form .account span{
        color: var(--energyRed);
        cursor: pointer;
    }
    
    .my-form .rotate form .account span:hover{
        color: var(--energyDarkRed);
    }
    
    
    /*Modal styles*/
    
    body.active-modal, body.active-modal2, body.active-modal3{
        overflow-y: hidden;
    }
    
    
    .modal{
        width: 100vw;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        overflow-y: scroll;
        padding-top: 40px;
    }
    
    .overlay {
        width: 100vw;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        background-color: var(--energyBlack);
        opacity: .9;
        z-index: 9;
    }
    
    
    .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        z-index: 10;
        align-self: center;
        position: relative;
        top: 50px;
    }
    
    .modal-content .close-modal{
        font-size: 30px;
        cursor: pointer;
        color: var(--energyWhite);
        position: absolute;
        top: -60px;
        right: 40px;
        z-index: 10;
    }
    
    /*to show the success message*/
    
    /* .modal .success{
        width: 80vw;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: var(--energyWhite);
        box-shadow: none;
        border: 1px solid var(--energyLightGrey);
        border-radius: 15px;
        z-index: 20;
        position: fixed;
        top: 30vh;
    }
    
    .success img{
        width: 20%;
        height: 30%;
    }
    
    .success h3{
        color: green;
    }
    
    .success button{
        color: var(--energyWhite);
        background-color: var(--secondary);
        width: 100px;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    } */


    /* styles for verification form */
.verification{
    background-color: var(--secondary);
    width: 90vw;
    height: 600px;
}

.verification .verification-form{
    background-color: var(--secondary);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.verification .verification-form .text{
    background-color: var(--secondary);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.verification .verification-form .text h3{
    color: var(--energyWhite);
    font-size: 25px;
    font-weight: 900;
}

.verification .verification-form .text p{
    color: var(--energyWhite);
    font-size: 17px;
    width: 100%;
    text-align: center;
}

.verification .verification-form .text .uploads{
    color: var(--energyWhite);
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.verification .verification-form .text .uploads .doc{
    color: var(--energyWhite);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.verification .verification-form .text .uploads .doc input{
    color: var(--energyWhite);
    width: 15px;
    height: 15px;
}

.verification .verification-form .text .uploads .doc label{
    color: var(--energyWhite);
    font-size: 12px;
}

.verification .verification-form .text .uploads label{
    color: var(--energyWhite);
    font-size: 12px;
}


.verification .verification-form .file{
    width: 90%;
    gap: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.verification .verification-form .file .image-label{
    background-color: var(--energyWhite);
    height: 40px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
}

.verification .verification-form .file input{
    color: var(--energyWhite);
    width: 90%;
    font-size: 14px;
}

.verification .verification-form button{
    background-color: var(--energyRed);
    color: var(--energyWhite);
    height: 45px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    border: none;
}

}