:root{
    --energyRed: #FF2121;
    --energyPurple: #5E60CE;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #263640;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --energyWhite: #FFFFFF;
    --boxShadow: 5px 5px 5px rgb(178, 180, 182);
    --energyDarkGrey: #444444;
    --anotherGrey: #848484;
    --secondary: #212529;
    --myGrey: #a3a2a2;
    --energyWhite: #FFFFFF;
    --boxShadow: 5px 5px 5px rgba(199, 192, 192, 0.3);
}

.map-wrapper{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


.my-map{
    width: 60vw;
    height: 400px;
    border-radius: 10px;
    background-color: var(--energyLightGrey);
}

.cta{
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.cta .cta-wrapper{
    height: 50px;
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cta .number-wrapper{
    font-size: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-weight: 700;
}

.cta .number-wrapper span{
    font-weight: 400;
}

.cta .call-btn{
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: green;
    border-radius: 4px;
    text-decoration: none;
    color: var(--energyWhite);
    padding: 3px;
}

.cta .call-btn:hover{
    background-color: #023b02;
    transition: .5s all;
}

.cta .call-btn .phone{
    color: var(--energyWhite);
    font-size: 25px;
}

.map-wrapper .category-page-btn{
    color: var(--energyWhite);
    background-color: var(--secondary);
    height: 45px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    padding: 0 10px;
    gap: 15px;
 }

 .map-wrapper .category-page-btn .arrow-left{
    color: var(--energyWhite);
    font-size: 25px;
 }

 .social-handles{
    width: 60vw;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .social-handles h5{
    color: var(--energyPurple);
 }

 .social-handles .handles{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    font-weight: 400;
 }

 .social-handles .handles a{
    text-decoration: none;
    color: black;
 }

 .social-handles .handles .facebook{
    color: blue;
}

.social-handles .handles .instagram{
    color: rgb(230, 74, 204);
}

.social-handles .handles .twitter{
    color: black;
}

@media (max-width: 500px){

    .map-wrapper{
        width: 90vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    
    
    .my-map{
        width: 100%;
        height: 200px;
        border-radius: 10px;
        background-color: var(--energyLightGrey);
    }
    
    .cta{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
    }
    
    .cta .cta-wrapper{
        height: 30px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .cta .number-wrapper{
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
    
    .cta .call-btn{
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: green;
        border-radius: 4px;
        text-decoration: none;
        color: var(--energyWhite);
        padding: 3px;
    }
    
    .cta .call-btn:hover{
        background-color: #023b02;
        transition: .5s all;
    }
    
    .cta .call-btn .phone{
        color: var(--energyWhite);
        font-size: 20px;
    }

    .social-handles{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
     }
    
     .social-handles .handles{
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
     }

     .social-handles .handles a{
        text-decoration: none;
        color: black;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
     }

     .social-handles .handles > a{
        font-size: 25px;
     }
    
     .social-handles .handles a .facebook{
        color: blue;
        font-size: 25px;
    }
    
    .social-handles .handles a .instagram{
        color: rgb(230, 74, 204);
        font-size: 25px;
    }
    
    .social-handles .handles a .twitter{
        color: black;
    }

    .map-wrapper .category-page-btn{
        color: var(--energyWhite);
        background-color: var(--secondary);
        height: 40px;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        text-decoration: none;
        font-size: 14px;
        cursor: pointer;
        padding: 0 10px;
     }
}