@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');

:root{
    --energyRed: #FF2121;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #263640;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --energyWhite: #FFFFFF;
    --boxShadow: 5px 5px 5px rgb(178, 180, 182);
    --energyDarkGrey: #444444;
    --anotherGrey: #848484;
    --secondary: #212529;
    --myGrey: #a3a2a2;
    --energyWhite: #FFFFFF;
    --boxShadow: 5px 5px 5px rgba(199, 192, 192, 0.3);
}

.news-letters{
    width: 100vw;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--secondary);
    margin-top: -100px;
    gap: 10px;
    position: relative;
    top: 250px;
    padding-top: 30px;
    border: dashed;
}


.news-letters p{
    color: var(--energyWhite);
    font-size: 20px;
    width: 35%;
    text-align: center;
}

.news-letters p span{
    color: var(--energyRed);
}

.news-letters form{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.news-letters form input{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--energyGrey);
    padding-left: 30px;
}

.news-letters form input::placeholder{
    font-size: 14px;
}

.news-letters form button{
    background-color: var(--energyRed);
    color: var(--energyWhite);
    font-size: 17px;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.news-letters form button:hover{
    background-color: var(--energyDarkRed);
}


@media (max-width: 500px){

    .news-letters{
        width: 100vw;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--secondary);
        margin-top: 0;
        gap: 10px;
        position: relative;
        top: 100px;
        padding-top: 0;
    }
    
    
    .news-letters p{
        color: var(--energyWhite);
        font-size: 15px;
        width: 90vw;
        text-align: center;
    }
    
    .news-letters p span{
        color: var(--energyRed);
    }
    
    .news-letters form{
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .news-letters form input{
        height: 40px;
        width: 100%;
        border-radius: 5px;
        outline: none;
        border: 1px solid var(--energyGrey);
        padding-left: 30px;
    }
    
    .news-letters form input::placeholder{
        font-size: 14px;
    }
    
    .news-letters form button{
        background-color: var(--energyRed);
        color: var(--energyWhite);
        font-size: 17px;
        height: 40px;
        width: 100%;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    
    .news-letters form button:hover{
        background-color: var(--energyDarkRed);
    }
}