:root{
    --energyRed: #FF2121;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #263640;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --energyWhite: #FFFFFF;
    --boxShadow: 5px 5px 5px rgb(178, 180, 182);
}

.all-service-providers{
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.all-service-providers .providers{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.all-service-providers .paginationBtns{
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
}

.all-service-providers .paginationBtns a{
   color: var(--energyGrey);
   cursor: pointer;
   
}

.all-service-providers .paginationBtns a:hover{
    color: var(--energyRed);
 }

 /* .paginationBtns .prevBtn, .paginationBtns .nextBtn{
    font-size: 40px;
 } */

 .all-service-providers .paginationBtns .activeBtn a{
    color: var(--energyRed);
 }