:root{
    --energyRed: #FF2121;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #263640;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --energyWhite: #FFFFFF;
    --energyMl: #F2F2F2;
    --anotherGrey: #AFAFAF;
    --secondary: #212529;
    --energyBlue: #6590ff;
    --boxShadow: 5px 5px 5px rgb(3, 3, 3);
}

.cacDoc{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.cacDoc .cacContainer{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--energyWhite);
    gap: 10px;
}

.cacDoc .cacContainer .sender{
    font-size: 20px;
    color: var(--energyBlack);
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.cacDoc .cacContainer .sender span{
    font-size: 20px;
    color: var(--energyBlack);
    font-weight: 700;
}


.cacDoc .cacContainer .cacWrapper{
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: solid 1px grey;
}


.cacDoc .cacContainer .cacWrapper .image-viewer{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: solid 1px grey;
}


.cacDoc .cacContainer .cacWrapper .image-viewer img{
    width: 100%;
    height: 100%;
}

.cacDoc .cacContainer .cacWrapper .actionBtn{
    width: 400px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cacDoc .cacContainer .cacWrapper .actionBtn .approve{
    border: none;
    width: 45%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: var(--energyWhite);
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.cacDoc .cacContainer .cacWrapper .actionBtn .approve:hover{
    background-color: rgb(2, 67, 2);
}

.cacDoc .cacContainer .cacWrapper .actionBtn .reject{
    border: none;
    width: 45%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--energyRed);
    color: var(--energyWhite);
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.cacDoc .cacContainer .cacWrapper .actionBtn .reject:hover{
    background-color: rgb(82, 4, 4);
}

.cacDoc a{
    font-size: 15px;
    color: var(--energyWhite);
    background-color: var(--secondary);
    width: auto;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    padding: 0 15px;
}

.cacDoc a .arrow{
    font-size: 20px;
    color: var(--energyWhite);
}

@media (max-width: 500px){

    .cacDoc{
        width: 90vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        gap: 30px;
    }
    
    
    .cacDoc .cacContainer{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--energyWhite);
        gap: 10px;
    }
    
    .cacDoc .cacContainer .sender{
        font-size: 15px;
        color: var(--energyBlack);
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .cacDoc .cacContainer .sender span{
        font-size: 15px;
        color: var(--energyBlack);
        font-weight: 700;
    }
    
    .cacDoc .cacContainer .cacWrapper{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: solid 1px grey;
    }
    
    
    .cacDoc .cacContainer .cacWrapper .image-viewer{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: solid 1px grey;
    }
    
    
    .cacDoc .cacContainer .cacWrapper .image-viewer img{
        width: 100%;
        height: 100%;
    }
    
    .cacDoc .cacContainer .cacWrapper .actionBtn{
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .cacDoc .cacContainer .cacWrapper .actionBtn .approve{
        border: none;
        width: 45%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: green;
        color: var(--energyWhite);
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
    }
    
    .cacDoc .cacContainer .cacWrapper .actionBtn .reject{
        border: none;
        width: 45%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--energyRed);
        color: var(--energyWhite);
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
    }
    
    .cacDoc a{
        font-size: 15px;
        color: var(--energyWhite);
        background-color: var(--secondary);
        width: auto;
        height: 40px;
        cursor: pointer;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        padding: 0 15px;
    }
    
    .cacDoc a .arrow{
        font-size: 20px;
        color: var(--energyWhite);
    }

}