:root{
    --energyRed: #FF2121;
    --energyDarkRed: #540808;
    --energyBlack: #000000;
    --energyDarkBlue: #263640;
    --energyGrey: #929A9F;
    --energyLightGrey: #F5F8FA;
    --energyWhite: #FFFFFF;
    --boxShadow: 5px 5px 5px rgb(178, 180, 182);
}

.individual-category{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}

.individual-category .banner{
    width: 100%;
    height: 90vh;
}

.individual-category h4{
    width: 80vw;
    margin-top: 50px;
    display: flex;
    gap: 10px;
}

.individual-category h4 span{
    color: var(--energyRed);
}

.individual-category .service-providers{
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 0;
    margin-top: 20px;
}

.individual-category .paginationBtns{
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    /* font-size: 25px; */
}

.individual-category .paginationBtns a{
   color: var(--energyGrey);
   cursor: pointer;
   font-size: 25px; 
}

.individual-category .paginationBtns a:hover{
    color: var(--energyRed);
 }

 .individual-category .paginationBtns .activeBtn a{
    color: var(--energyRed);
 }

 .individual-category .advert{
    width: 100%;
    height: 250px;
 }

 @media (max-width: 500px){


    .individual-category{
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 80px;
    }
    
    .individual-category .banner{
        width: 100vw;
        height: 25vh;
    }
    
    .individual-category h4{
        width: 90vw;
        margin-top: 30px;
        display: flex;
        gap: 10px;
        justify-content: center;
        font-size: 20px;
        font-weight: 700;
    }
    
    .individual-category h4 span{
        color: var(--energyRed);
    }
    
    .individual-category .service-providers{
        width: 90vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        padding: 0;
        margin-top: 20px;
    }
    
    .individual-category .paginationBtns{
        width: 80%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        list-style: none;
        /* font-size: 25px; */
    }
    
    .individual-category .paginationBtns a{
       color: var(--energyGrey);
       cursor: pointer;
       font-size: 25px; 
    }
    
    .individual-category .paginationBtns a:hover{
        color: var(--energyRed);
     }
    
     .individual-category .paginationBtns .activeBtn a{
        color: var(--energyRed);
     }
    
     .individual-category .advert{
        width: 100%;
        height: 90px;
     }
 }